AmethystModManager
Vencord/dist
Vencord/settings
dconf
discord
go
htop
hyprland-mimeapps.list
lazygit
mimeapps.list
mozilla
noctalia
pavucontrol.ini
pulse
systemd
user-dirs.dirs
user-dirs.locale
uv
yazi
